.projects-container {
    max-width: 1200px;
}

.card-container {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #333;
    transition: transform 0.2s ease-in-out;
}

.card-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}